binds {
    XF86MonBrightnessDown hotkey-overlay-title="Brightness Down (10%)" { spawn "dms" "ipc" "call" "brightness" "decrement" "10" ""; }
    XF86MonBrightnessUp hotkey-overlay-title="Brightness Up (10%)" { spawn "dms" "ipc" "call" "brightness" "increment" "10" ""; }
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }
    Mod+Ctrl+I { move-column-to-workspace-up; }
    Mod+Ctrl+J { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+K { spawn-sh "~/.config/niri/scripts/move-window-up-or-to-workspace-up-custom.sh"; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up { move-column-to-workspace-up; }
    Mod+Ctrl+Shift+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+Shift+WheelScrollUp cooldown-ms=150 { move-column-to-workspace-up; }
    Mod+Ctrl+U { move-column-to-workspace-down; }
    Mod+I { focus-workspace-up; }
    Mod+J { focus-window-or-workspace-down; }
    Mod+K { focus-window-or-workspace-up; }
    Mod+Page_Down { focus-workspace-down; }
    Mod+Page_Up { focus-workspace-up; }
    Mod+Shift+I { move-workspace-up; }
    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up { move-workspace-up; }
    Mod+Shift+U { move-workspace-down; }
    Mod+Shift+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }
    Mod+Shift+WheelScrollUp cooldown-ms=150 { focus-workspace-up; }
    Mod+U { focus-workspace-down; }
    Alt+Print { screenshot-window; }
    Alt+Shift+P hotkey-overlay-title="Set Dynamic Cast Window" { set-dynamic-cast-window; }
    Mod+C { close-window; }
    Mod+Comma { consume-or-expel-window-left; }
    Mod+Ctrl+C { center-visible-columns; }
    Mod+Ctrl+Down { move-window-down; }
    Mod+Ctrl+End { move-column-to-last; }
    Mod+Ctrl+F { expand-column-to-available-width; }
    Mod+Ctrl+H { move-column-left; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+L { move-column-right; }
    Mod+Ctrl+Left { move-column-left; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+Ctrl+Right { move-column-right; }
    Mod+Ctrl+Space { center-column; }
    Mod+Ctrl+Up { move-window-up; }
    Mod+Ctrl+WheelScrollDown { move-column-right; }
    Mod+Ctrl+WheelScrollLeft { move-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollUp { move-column-left; }
    Mod+Down { focus-window-down; }
    Mod+End { focus-column-last; }
    Mod+F { maximize-column; }
    Mod+H { focus-column-left; }
    Mod+Home { focus-column-first; }
    Mod+L { focus-column-right; }
    Mod+Left { focus-column-left; }
    Mod+Period { consume-or-expel-window-right; }
    Mod+R { switch-preset-column-width; }
    Mod+Right { focus-column-right; }
    Mod+Shift+Ctrl+Down { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+H { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+Left { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+Up { move-column-to-monitor-up; }
    Mod+Shift+Down { focus-monitor-down; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Shift+H { focus-monitor-left; }
    Mod+Shift+J { focus-monitor-down; }
    Mod+Shift+K { focus-monitor-up; }
    Mod+Shift+L { focus-monitor-right; }
    Mod+Shift+Left { focus-monitor-left; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Shift+Right { focus-monitor-right; }
    Mod+Shift+Up { focus-monitor-up; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }
    Mod+Up { focus-window-up; }
    Mod+V { toggle-window-floating; }
    Mod+W { toggle-column-tabbed-display; }
    Mod+WheelScrollDown { focus-column-right; }
    Mod+WheelScrollLeft { focus-column-left; }
    Mod+WheelScrollRight { focus-column-right; }
    Mod+WheelScrollUp { focus-column-left; }
    Mod+X { focus-monitor-right; }
    Mod+Z { focus-monitor-left; }
    Ctrl+Print { screenshot-screen; }
    Print { screenshot; }
    Ctrl+Alt+Delete { quit; }
    Mod+Shift+E { quit; }
    Alt+space { spawn "rofi" "-show" "drun" "-show-icons"; }
    Mod+Q hotkey-overlay-title="Open a Terminal: wezterm" { spawn "wezterm"; }
    Super+L hotkey-overlay-title="Lock the Screen: hyprlock" { spawn "hyprlock"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    XF86AudioMicMute allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
    XF86AudioMute allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
    Mod+O repeat=false { toggle-overview; }
    Mod+Shift+Slash { show-hotkey-overlay; }
}
